<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matthimatiker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/github-light.css">
        {% feed_meta %}
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div itemtype="http://schema.org/Person" itemscope="" class="column one-fourth vcard">
                    <a href="https://github.com/Matthimatiker">
                        <img width="230" height="230" src="https://avatars0.githubusercontent.com/u/1383323?v=3&amp;s=460" alt="Avatar of Matthimatiker">
                    </a>

                    <h1>
                        <span itemprop="name">Matthias Molitor</span>
                        <span itemprop="additionalName">@Matthimatiker</span>
                    </h1>

                    <ul>
                        <li title="webfactory GmbH" itemprop="worksFor">
                            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> webfactory GmbH
                        </li>
                        <li title="Bonn, Germany" itemprop="homeLocation">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Bonn, Germany
                        </li>
                    </ul>
                </div>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
