<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Matthimatiker</title>

        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/github-light.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div itemtype="http://schema.org/Person" itemscope="" class="column one-fourth vcard">
                    <a class="vcard-avatar tooltipped tooltipped-s" href="https://github.com/Matthimatiker">
                        <img width="230" height="230" src="https://avatars0.githubusercontent.com/u/1383323?v=3&amp;s=460" class="avatar" alt="Avatar of Matthimatiker">
                    </a>

                    <h1 class="vcard-names">
                        <span itemprop="name" class="vcard-fullname">Matthias Molitor</span>
                        <span itemprop="additionalName" class="vcard-username">Matthimatiker</span>
                    </h1>

                    <ul class="vcard-details">
                        <li title="webfactory GmbH" itemprop="worksFor" class="vcard-detail">
                            <span class="octicon octicon-organization"></span>webfactory GmbH
                        </li>
                        <li title="Bonn, Germany" itemprop="homeLocation" class="vcard-detail">
                            <span class="octicon octicon-location"></span>Bonn, Germany
                        </li>
                    </ul>
                </div>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
